<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909250604148-4stokr1oh7e3umit4sa9087a5f7snfsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909250604148-4stokr1oh7e3umit4sa9087a5f7snfsf</string>
	<key>API_KEY</key>
	<string>AIzaSyBdRPkzYNhXHaMmgBHJuz5UAdZVXX1NpBA</string>
	<key>GCM_SENDER_ID</key>
	<string>909250604148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brujah.firebaseAuthStudy</string>
	<key>PROJECT_ID</key>
	<string>fir-study-3ef93</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-study-3ef93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909250604148:ios:55ca1e3cdfaeafcfecb521</string>
</dict>
</plist>